#events-body {
  margin-top: 6rem;
}

#home-border {
  border-top: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#byg-events {
  width: 100%;
  height: auto;
  max-width: 800px;
}

#watch-live-events {
  width: 100%;
  height: auto;
  max-width: 800px;
}
