html {
  overflow-y: scroll;
}

.navbar-nav {
  font-size: 1.3vw;
  text-align: center;
  width: 100%;
  height: auto;
  top: 100%;
  z-index: 1;
}

.navbar-toggler {
  background-color: whitesmoke;
}

.navbar-collapse {
  position: absolute;
  /* display: none; */
  /* margin-top: 10%; */
  top: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    justify-content: left !important;
    align-items: baseline;
    margin-top: 5%;
    top: 100%;
    z-index: 1;
  }
}
@media screen and (min-width: 1271px) {
  .navbar-collapse {
    position: absolute;
    justify-content: left !important;
    align-items: baseline;
    margin-top: -4%;
    top: 100%;
    z-index: 1;
  }
}

#nav-container {
  position: relative;
  justify-content: center;
  text-align: center;
}

a.nav-link:hover {
  background-color: rgba(124, 124, 124, 0.562) !important;
  color: white !important;
  /* border-bottom: 1px solid black !important; */
  /* box-sizing: border-box; */
  /* box-shadow: 1px 1px 2px 1px rgb(138, 138, 138); */
}

@media screen and (max-width: 1271px) {
  .nav-link {
    font-size: medium;
    max-width: 110px;
    min-width: 110px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1080px) {
  .nav-link {
    font-size: small;
    max-width: 90px;
    min-width: 90px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 850px) {
  .nav-link {
    font-size: smaller;
    max-width: 80px;
    min-width: 80px;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .nav-link {
    font-size: medium;
    max-width: 80px;
    min-width: 80px;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1271px) {
  .nav-link {
    font-size: medium;
    max-width: 110px;
    min-width: 110px;
    width: 100%;
    height: auto;
  }
}
