html {
  overflow-y: scroll;
}

.navbar-nav {
  font-size: 1.3vw;
  text-align: center;
  width: 100%;
  height: auto;
  top: 100%;
  z-index: 1;
}

.navbar-toggler {
  background-color: whitesmoke;
}

.navbar-collapse {
  position: absolute;
  /* display: none; */
  /* margin-top: 10%; */
  top: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    justify-content: left !important;
    align-items: baseline;
    margin-top: 5%;
    top: 100%;
    z-index: 1;
  }
}
@media screen and (min-width: 1271px) {
  .navbar-collapse {
    position: absolute;
    justify-content: left !important;
    align-items: baseline;
    margin-top: -4%;
    top: 100%;
    z-index: 1;
  }
}

#nav-container {
  position: relative;
  justify-content: center;
  text-align: center;
}

a.nav-link:hover {
  background-color: rgba(237, 255, 71, 0.247) !important;
  border: 1px solid black !important;
  /* box-sizing: border-box; */
  box-shadow: 4px 4px 4px teal;
}

@media screen and (max-width: 1271px) {
  .nav-link {
    font-size: medium;
    max-width: 90px;
    min-width: 90px;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1271px) {
  .nav-link {
    font-size: medium;
    max-width: 110px;
    min-width: 110px;
    width: 100%;
    height: auto;
  }
}
