@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500;600;700&family=Titillium+Web:wght@400;600;700&display=swap');

#staff {
  margin-top: 1.5rem;
}
#photo {
  height: 267px;
  width: 200px;
  margin-top: 1rem;
}

/* #title {
  text-decoration-line: underline;
} */

#staff-h5 {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 2rem;
  font-weight: 600;

  /* text-decoration-line: underline; */
}

#pastor {
  text-indent: -1.5em !important;
}

#staff-h6 {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'KoHo', sans-serif;
}

#bottom {
  margin-bottom: 2rem;
}
