#home-body {
  margin-top: 2rem;
}
#home-border {
  border-top: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#proclaim {
  height: 400px;
  width: auto;
}
@media only screen and (max-width: 992px) {
  #proclaim {
    height: 400px;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  #proclaim {
    height: 300px;
    width: auto;
  }
}

#byg {
  height: 250px;
  width: auto;
}
@media only screen and (max-width: 992px) {
  #byg {
    height: 250px;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  #watch {
    height: 150px;
    width: auto;
  }
}

#watch {
  height: 350px;
  width: auto;
}
@media only screen and (max-width: 992px) {
  #watch {
    height: 250px;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  #watch {
    height: 250px;
    width: auto;
  }
}
