/* #content {
  margin-top: 2rem;
} */

#jumbo {
  background-color: rgba(167, 167, 167, 0.247);
  margin-top: -2%;
}
#red-logo {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
#feel-free {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
}

#contact-info {
  font-family: 'KoHo', sans-serif;
}
