#tithe-container {
  margin-top: 6%;
}

#tithes {
  font-family: 'Titillium Web', sans-serif;
  max-width: 600px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 450px) {
  #tithes {
    font-family: 'Titillium Web', sans-serif;
    max-width: 350px;
    width: 100%;
    height: auto;
  }
}

#app-download {
  margin-top: 1rem;
}

#online-giving {
  padding: 14px 40px;
}

#give-border {
  border-top: 1px solid black;
  margin-top: 4rem;
}

#vanco-icon {
  width: '100%';
  height: 'auto';
  max-width: 160px;
  display: flex;
  /* border-radius: '22%';
  overflow: 'hidden';
  display: 'inline-block';
  vertical-align: 'middle'; */
  margin-bottom: '1rem';
}

#vanco-icon-row {
  margin-bottom: 2rem;
}
