#BYG {
  width: 200px;
  height: 272px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#byg-desc {
  font-size: 16px;
  text-indent: 1.5em;
  margin-bottom: 2rem;
}

#study-title {
  font-weight: 700;
  text-decoration-line: underline;
}

#byg-content {
  margin-top: 30px;
}
