#events-body {
  margin-top: 2rem;
}

#home-border {
  border-top: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#byg-events {
  width: 700px;
  height: auto;
}
@media only screen and (max-width: 992px) {
  #byg-events {
    width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  #byg-events {
    width: 300px;
    height: auto;
  }
}

#watch-live-events {
  width: 700px;
  height: auto;
}
@media only screen and (max-width: 992px) {
  #watch-live-events {
    width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  #watch-live-events {
    width: 300px;
    height: auto;
  }
}
