#joel-niki {
  width: 33%;
  height: auto;
  margin-bottom: 0.5rem;
}

#header {
  margin-top: 1rem;
}

#bottom {
  margin-bottom: 2rem;
}

#about-h6 {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
}

/* font */
#para {
  text-indent: 1.5em;
  margin-left: 1rem;
  margin-right: 1rem;
}

#verse {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
}

/* verse */
/* font-size: 1.1vw; */
/* margin-left: 4rem;
  margin-right: 4rem; */

/* @media screen and (min-width: 992px) {
  #para {
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    text-indent: 1.5em;
    margin-left: 10rem;
    margin-right: 10rem;
  }
} */
/* @media screen and (max-width: 375px) {
  #para {
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    text-indent: 1.5em;
    margin-left: 0;
    margin-right: 0;
  }
} */
