#joel-niki {
  width: 33%;
  height: auto;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 992px) {
  #joel-niki {
    width: 28%;
    height: auto;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  #about-container {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 992px) {
  #about-container {
    margin-top: 8%;
  }
}
@media only screen and (min-width: 1272px) {
  #about-container {
    margin-top: 6%;
  }
}

#bottom {
  margin-bottom: 2rem;
}

#about-h6 {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
}

/* font */
#para {
  font-family: 'KoHo', sans-serif;
  text-indent: 1.5em;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 500;
}

#verse {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
}
