.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#coming-soon {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  /* margin-top: 1rem; */
}

/* #stream {
  background-color: black;
} */

/* #player {
  
} */
/* #stream-background {
  background: black;
} */
