.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#coming-soon {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

#player {
  margin-top: 4rem;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  max-width: 800px;
}

#stream-box {
  position: absolute;
  padding-top: 56.25%;
}
