#stream{
    margin-top: 1%;
    align-items: center;
}
#broadcast{
    text-align: center !important;
}
#servImg{
    height: auto;
    width: 100%;
    max-height: 300px;
    max-width: 100%;
}
#home-body { 
    background-image: url('./assets/home-bkgd.jpg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}