#staff {
  margin-top: 3rem;
}

@media only screen and (min-width: 1271px) {
  #staff {
    margin-top: 3rem;
  }
}

#photo {
  height: 267px;
  width: 200px;
  margin-top: 1rem;
}

#title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  margin-top: 2rem;
}

#staff-h5 {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 2rem;
  font-weight: 600;
}

#staff-h6 {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
}

#staff-position {
  font-family: 'KoHo', sans-serif;
  font-weight: 500;
}

#bottom {
  margin-bottom: 2rem;
}
