/* .head{
    background-image: url('./assets/image01.jpg');
}
.head-about{
    background-image: url('./assets/image02.jpg');
}
.head-contact{
    background-image: url('./assets/image03.jpg');
} */

